@font-face{
    font-family:"Architex";
    src:url("Architex.ttf");
} 
body{
    font-family: "Wire One", sans-serif;
}

img {
    width:25%;
    float: left;
    padding:2.5%;
}
img:nth-child(3n+1){
    margin-left: 5%;
}
img:nth-child(3n+3)  {
    margin-right: 5%;
}
h1{

    padding-bottom: .1em;
    font-size: 10vw;
    margin-bottom:.2em;
    margin-top: .5em;
    border-bottom: 1px #999999 solid;
    text-align: center;

}

#spruce-bark{

}
#passion-flower{
    transform: rotate(180deg);
}
#fall-landscaping{
    transform: rotate(180deg)
}