@font-face{
    font-family:"Architex";
    src:url("Architex.ttf");
} 
body{
    font-family: "Wire One", sans-serif;
}

img {
    width:25%;
    float: left;
    padding:1.57%;
}
img:first-child{
    margin-left: 7%;
}
img:nth-child(3n)  {
    margin-bottom: 7%;
    margin-right: 7%;
}
h1{

    padding-bottom: .1em;
    font-size: 5em;
    margin-bottom:.2em;
    margin-top: .5em;
    margin-left: 1.66%;
    border-bottom: 1px black solid;

}

#spruce-bark{

}
#passion-flower{
    transform: rotate(180deg);
}
#fall-landscaping{
    transform: rotate(180deg)
}